
    <div class="container">
      <div class="mt-3">

        <form [formGroup]="categoryForm">
          <div class="form-group col-auto">

            <input type="text"
            class="form-control form-control-sm" aria-describedby="filterHelp"
            placeholder="Filter by name" formControlName="title">

          <hr>

            <label class="form-label">Select a category for your book:</label>
            <select class="form-select" (change)="selectCategory()" name="cat" formControlName="category">
              <option *ngFor="let cat of category" [value]="cat">{{cat}}</option>
            </select>
          </div>
        </form>
      </div>

      <div class="mt-3">
        <h5 style="text-align: center;" class="list-group-item">
          Your favourite Books <span class="text-dark mx-2"><i class="fa fa-heart"></i></span>
        </h5>
        <hr>
      </div>

      <div class="row row-cols-1 row-cols-md-3" >

        <div *ngFor="let prod of filteredProducts | bookFilter: categoryForm?.get('title')?.value" class="col mb-4">
          <div *ngIf="prod">
            <div class="card h-80" style="width: 22rem; margin:auto">
              <img  src={{prod.image}}  class="card-img-top rounded mx-auto d-block" style="margin: 5px auto; width: 35%;"/>
              <div class="card-body">
                <h5 class="card-title">{{prod?.title}}</h5>
                <p class="card-text text-smaller">{{prod.subtitle}}</p>
                <p class="card-text text-muted">{{prod.category}}</p>

                <hr>
                <p class="card-text" style="font-style: italic;">{{prod.author}}</p>
                <p class="card-text text-muted">{{prod.isbn}}</p>
                <p class="text-dark text-muted">Pages: {{prod.pages}}</p>

                <p class="card-text" style="font-size: smaller; font-style: oblique;">Published by:<br><span>{{prod.publisher}}</span></p>
                <hr>
                <p class="card-text text-dark" style="font-size: small;">{{prod.description}}</p>
                <h6 class="text-dark" >Price: {{ prod.price | currency }}</h6>
                  <button class="btn btn-danger mt-1" (click)="addToCart(prod)">Buy</button>
                </div>
                <!-- <a routerLink="./product-details" class="btn btn-danger text-white">Buy<span class="mx-1"><i class="fa fa-shopping-cart"></i></span></a> -->
              </div>
            </div>
          </div>


        </div>
<!--
        <router-outlet></router-outlet> -->

      </div>

